body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  margin-top: 40px;
  background-color: #4f2f00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 1100px;
  height: 400px;
}

.container::before,
.container::after,
.leg-bottom-left {
  content: "";
  position: absolute;
  width: 20px;
  height: 100px;
  background-color: #4f2f00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transform-origin: top;
}

.container::before {
  top: -20px;
  left: -90px;
  transform: rotate(-70deg);
}

.container::after {
  height: 110px;
  top: -30px;
  right: 100px;
  transform: rotate(-70deg);
}

.leg-bottom-left {
  bottom: -55px;
  left: -90px;
  transform: rotate(-70deg);
}

button {
  background-color: #0070f3;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5;
}

h1 {
  color: #333333;
}

img {
  width: 100px;
  height: auto;
  margin: 5px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.1);
}

span {
  right: 30px;
  bottom: 10px;
  position: absolute;
  color: #333333;
}
